# docker stop chatbot-ute && docker rm chatbot-ute
# docker run -d \
#   --name chatbot-ute \
#   --restart always \
#   -p 8001:8001 \
#   -e PYTHONUNBUFFERED=1 \
#   -v /home/Chat_bot/Token/token.json:/app/Token/token.json \
#   -v /home/Chat_bot/Token/credentials.json:/app/Token/credentials.json \
#   chatbot-ute


# AI Models
config/RVC/
*.pth
*.index
*.onnx
*.bin
*.wav

__pycache__/